.content {
  background-color: #fff;
  border-radius: 3px;
}

.right-button {
  margin-right: 15px;
  padding: 5px 10px;
}

.title-bar {
  background-color: #fff;
  padding: 8px;
  border-radius: 3px;
}